.footer-layout {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 1rem 0;
	color: var(--shark-color);
}

.footer-layout a {
	color: var(--shark-color);
}

.footer-content {
	display: flex;
	width: 100%;
	padding: 0 1rem;
	max-width: var(--max-width);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.footer-content__upper {
	display: flex;
	padding: 24px 0;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
	gap: 2rem;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1 0 0;
}

.footer-links-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: right;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	gap: 12px;
}

.links-list-item {
	font-size: 20px;
}

.copyright, .links-list-item {
	text-align: right;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	width: 100%;
}

.copyright {
	font-size: 13px;
}

.links-list-label {
	font-weight: bold;
}

.el-link {
	opacity: .8;
}

.el-link {
	--el-link-hover-text-color: var(--shark-color);
	--el-link-text-color: var(--shark-color);
}

.el-link:hover {
	opacity: 9;
}