.blog-thumbnail {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
}

.blog-thumbnail>img {
  width: 100%;
  vertical-align: middle;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.blog-content>* {
  margin-bottom: 1.2rem;
  text-align: left;
}

.blog-comments-stat {
  display: flex;
  width: fit-content;
  gap: 9px;
  padding: 4px 10px;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  margin: 3px 0 0 0;
}

.blog-desc {
  width: 100%;
  font-size: 14px;
  opacity: .8;
  line-height: 1.4rem;
}

.blog-details {
  font-size: 12px;
  opacity: .9;
  display: inline-flex;
  align-items: flex-start;

}

.blog-title {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 4px 0;
}

.blog-card-link {
  text-decoration: none;
}

[class^='blog-card'] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  flex: 1;
}

.blog-card--small {
  width: 420px;
}

.blog-card--medium {
  width: 658px;
}

.blog-card--large {
  width: 1080px;
}

[class$='blog-card'] {
  display: flex;
  flex-direction: column;
}

/* [class^='full-width'] {} */

@media (min-width: 768px) {
  [class^='blog-card'] {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  [class^='blog-card']>* {
    flex: 1;
  }
}