.blog-thumbnail {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  max-width: 950px;
}

.blog-thumbnail>img {
  width: 100%;
  vertical-align: middle;
}

.blog-content {
  display: grid;
  justify-items: flex-start;
  gap: 1rem;
}

.blog-content>* {
  text-align: left;
}

.blog-comments-stat {
  display: flex;
  width: fit-content;
  gap: 9px;
  padding: 4px 10px;
  border-radius: 4px;
  align-items: center;
}

.blog-desc {
  font-size: 15px;
  opacity: .8;
  line-height: 1.4rem;
}

.blog-details {
  font-size: 12px;
  opacity: .9;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: flex-start;
}

.blog-title {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 4px 0;
}

.blog-link {
  text-decoration: none;
}

[class^='blog-card'] {
  max-width: 100%;
  min-width: 280px;
}

.blog-card--small, .blog-card--medium, .blog-card--large {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .blog-card--small {
    width: 325px;
  }

  .blog-card--medium {
    flex-direction: column;
    width: 345px;
  }

  .blog-card--large {
    flex-direction: row;
    gap: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .blog-card--small {
    width: 350px;
  }

  .blog-card--medium {
    flex-direction: row;
    width: 450px;
  }

  .blog-card--large {
    flex-direction: row;
    gap: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .blog-card--small {
    width: 375px;
  }

  .blog-card--medium {
    width: 500px;
  }

  .blog-card--large {
    flex-direction: row;
    gap: 2rem;
  }
}