.blog-theme-primary {
	background-color: #30D5C8;
}

.blog-theme-background {
	--el-bg-color: #fff
}

.blog-theme-secondary {
	background-color: #ff7f50
}

.blog-theme-accent {
	background-color: #d34328
}

/* This is grey text mostly for dates and author name in blogs */
.blog-theme-tertiary {
	background-color: #d3d3d3
}