/*** BACKGROUND COLORS **/
.primary-bg {
	background-color: var(--shark-color);
}

.light-bg {
	background-color: var(--white-color);
}

.secondary-bg {
	background-color: var(--shuttle-gray-color);
}

.tertiary-bg {
	background-color: var(--iron-color);
}

.highlight-bg {
	background-color: var(--varden-color);
}

.accent-bg {
	background-color: var(--golden-fizz-color);
}

/*** TEXT COLORS **/
.primary-text {
	color: var(--shark-color);
}

.light-text {
	color: var(--white-color);
}

.secondary-text {
	color: var(--shuttle-gray-color);
}

.tertiary-text {
	color: var(--iron-color);
}

.highlight-text {
	color: var(--varden-color);
}

.accent-text {
	color: var(--golden-fizz-color);
}

/*** REUSABLE STYLES ***/
.divider {
	height: 1px;
	width: 90%;
	max-width: 1280px;
	background-color: var(--shuttle-gray-color);
}

.logo-wrapper {
	display: flex;
	padding: 12px 0px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

logo {
	width: 20vw;
	min-width: 220px;
	height: auto;
}

.logo__shape {
	width: 5vw;
	min-width: 70px;
	height: auto;
}