:root {
	--shark-color: #272829;
	--white-color: #fff;
	--golden-fizz-color: #eafa47;
	--black-color: #000;
	--shuttle-gray-color: #61677a;
	--iron-color: #d8d9da;
	--varden-color: #fff6e0;

	--max-width: 1280px;


	--blog-title-light-text-color: #ffffcc;
	--blog-desc-light-text-color: #c0c0c0;
	--blog-details-light-text-color: #666666;

	/* overridden themes */
	--el-menu-hover-text-color: #8d8802;
	--el-menu-hover-bg-color: #fffeda;
	--el-menu-active-color: #8d8802;
	/* --el-menu-border-color: #fff; */

	--el-link-hover-text-color: #272829;
	--el-link-text-color: #272829;

	--el-collapse-header-font-size: 20px;
}